.circle {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.user {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20%;
}

.me{
  position: absolute;
  top: 36%;
  left: 48%;
  width: 120px;
  height: auto;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-left: 49%;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  cursor: pointer;
  font-size: large;
  color: purple;
}

button:hover{
  background-image: linear-gradient(to right, #bfe9ff, #ff6e7f);
  transition: all 2s ease;
  border: 1px solid purple;
}

html{
background-color: #bfe9ff;
}
